{% extends "dashboard/base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-10">
        <h1 class="text-secondary">らくたんくん</h1>
    </div>
     <div class="col-md-10 mt-2">
        <h3 class="text-secondary">内容を確認してください</h3>
        <table class="ui celled table table table-hover">
            <tr>
                <td>学籍番号</td>
                <td>{{ student_id }}</td>
            </tr>
            <tr>
                <td>名前</td>
                <td>{{ username }}</td>

            </tr>
            <tr>
                <td>取得科目</td>
                <td>{{ credits_list }}</td>
            </tr>
        </table>
    </div>
    
    <div class="col-md-10">
        <a href="{% url 'dashboard:userprofile' %}" class="btn btn-outline-secondary btn-lg" tabindex="-1"
            role="button">保存する</a>
    </div>
    <div class="col-md-10">
        <a href="{% url 'dashboard:index' %}" class="btn btn-outline-secondary btn-lg" tabindex="-1"
            role="button">ホームに戻る</a>
    </div>
</div>

<div class="mt-4">  
    <div class="container">
      <p class="text-center text-secondary">© Z班</p>
    </div>
 </div>
 
{% endblock %}