{% extends "dashboard/base.html" %}
{% load my_templatetags %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-10">
        <h1 class="text-secondary">らくたんくん</h1>
    </div>
    <div class="col-md-10 mt-2">
        <h3 class="text-secondary">内容を確認してください</h3>
        <table class="table">
            <tr>
                <td>学籍番号</td>
                <td>{{ student_id }}</td>
            </tr>
        </table>

        {% calcurate_case1 credits_list user_credits as getCase1 %}
        区分1では{{ getCase1 }}単位足りません。<br>
        {% calcurate_case2 credits_list user_credits as getCase2 %}
        区分2では{{ getCase2 }}単位足りません。<br>
        {% calcurate_case3 credits_list user_credits as getCase3 %}
        区分3では{{ getCase3 }}単位足りません。<br>
        {% calcurate_case4 credits_list user_credits as getCase4 %}
        区分4では{{ getCase4 }}単位足りません。<br>
        {% calcurate_case5 credits_list user_credits as getCase5 %}
        区分5では{{ getCase5 }}単位足りません。<br>
        {% calcurate_case6 credits_list user_credits as getCase6 %}
        区分6では{{ getCase6 }}単位足りません。<br>
        {% calcurate_case7 credits_list user_credits as getCase7 %}
        区分7では{{ getCase7 }}単位足りません。<br>
        {% calcurate_case8 credits_list user_credits as getCase8 %}
        区分8では{{ getCase8 }}単位足りません。<br>  
        {% calcurate_case9 credits_list user_credits as getCase9 %}
        区分9では{{ getCase9 }}単位足りません。<br> <br>
        
        <table class="table">
            <thead class="table-light">
                <th scope="col">#</th>
                <th scope="col">科目名</th>
                <th scope="col">単位数</th>
                <th scope="col">区分</th>
                <th scope="col">備考</th>
            </thead>
            <tbody>
                {% for class in credits_list %}
                {% access_list user_credits forloop.counter0 as getFlag %}
                {% if getFlag == 1 %}
                <tr class="table-info">
                {% else %}
                <tr>
                {% endif %}
                    <td>{{ class.Number }}</td>
                    <td>{{ class.ClassName }}</td>
                    <td>{{ class.CreditScore }}</td>
                    <td>{{ class.CreditCondition }}</td>
                    {% if class.CompulsoryFlag == 1 %}
                        <td>必修</td>
                    {% else %}
                        <td>選択</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-10 justify-content-end align-items-center">
        <a href="{% url 'dashboard:index' %}" class="btn btn-outline-secondary btn-lg" tabindex="-1"
            role="button">ホームに戻る</a>
        <form method="POST" action="{% url 'dashboard:userupdate' %}" class="form-group">
            {% csrf_token %}
            {% for field in form %}
            {{field.as_hidden}}
            {% endfor %}
            <button type="submit"
            class="btn btn-outline-secondary btn-lg">更新する</button>
        </form>
    </div>
</div>

<div class="mt-4">  
    <div class="container">
      <p class="text-center text-secondary">© Z班</p>
    </div>
 </div>
 
{% endblock %}
