{% extends "dashboard/base.html" %}
{% load my_templatetags %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-10">
        <h1 class="text-secondary">らくたんくん</h1>
    </div>
    <div class="col-md-10 mt-2">
        <h3 class="text-secondary">内容を確認し、新たに取得した単位をチェックしてください。
        </h3>
        <table class="table">
            <tr>
                <td>学籍番号</td>
                <td>{{ student_id }}</td>
            </tr>
        </table>
        <!-- <form method="POST" action="{% url 'dashboard:userprofile' %}" class="form-group">
            {% csrf_token %} -->
        <table class="table">
            <thead class="table-light">
                <th scope="col">#</th>
                <th scope="col">科目名</th>
                <th scope="col">単位数</th>
                <th scope="col">区分</th>
                <th scope="col">備考</th>
            </thead>
            <tbody>
                {% for class in credits_list %}
                {% access_list user_credits forloop.counter0 as getFlag %}
                {% return_loop forloop.counter0 as getLoop %}
                {% if getFlag == 1 %}
                <tr>
                    <!-- <td><button type="button" class="btn btn-outline-info active" data-bs-toggle="button" autocomplete="off" aria-pressed="true">{{ form.choicelist.getLoop }}</button></td> -->
                    <!-- <td>{{ form.choicelist.getLoop }}</td> -->
                    <!-- <td>{{ form.choicelist.getLoop.tag }}<label for="{{ form.choicelist.getLoop.id_for_label }}">{{ form.choicelist.getLoop.choice_label }}</label></td> -->
                    <td>{{ class.Number }}</td>
                    <td>{{ class.ClassName }}</td>
                    <td>{{ class.CreditScore }}</td>
                    <td>{{ class.CreditCondition }}</td>
                    {% if class.CompulsoryFlag == 1 %}
                        <td>必修</td>
                    {% else %}
                        <td>選択</td>
                    {% endif %}
                {% else %}
                <tr>
                    <!-- <td><button type="button" class="btn btn-outline-info" data-bs-toggle="button" autocomplete="off">{{ form.choicelist.getLoop }}</button></td> -->
                    <!-- <td>{{ form.choicelist.getLoop }}</td> -->
                    <td>{{ class.Number }}</td>
                    <td>{{ class.ClassName }}</td>
                    <td>{{ class.CreditScore }}</td>
                    <td>{{ class.CreditCondition }}</td>
                    {% if class.CompulsoryFlag == 1 %}
                        <td>必修</td>
                    {% else %}
                        <td>選択</td>
                    {% endif %}
                {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- <button type="submit" -->
            <!-- class="btn btn-outline-secondary btn-lg">更新する</button> -->
        <!-- </form> -->
    </div>
    <div class="col-10 justify-content-end align-items-center">
        <a href="{% url 'dashboard:index' %}" class="btn btn-outline-secondary btn-lg" tabindex="-1"
            role="button">ホームに戻る</a>
            <form method="POST" action="{% url 'dashboard:userprofile' %}" class="form-group">
                {% csrf_token %}
                {{ form.student_id.as_hidden }}
                {{ form.passwd.as_hidden }}
                {% for c in form.choicelist %}
                {{ c }}
                {% endfor %}
                <br>
                <button type="submit"
                class="btn btn-outline-secondary btn-lg">保存する</button>
            </form>
    </div>
</div>

<div class="mt-4">  
    <div class="container">
      <p class="text-center text-secondary">© Z班</p>
    </div>
 </div>
 
{% endblock %}