{% extends "dashboard/base.html" %}
{% load my_templatetags %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-10">
        <h1 class="text-secondary">らくたんくん</h1>
    </div>
    <div class="col-md-10 mt-2">
        <h3 class="text-secondary">内容を確認してください</h3>
        <table class="table">
            <tr>
                <td>学籍番号</td>
                <td>{{ student_id }}</td>
            </tr>
            <tr>
                <td>名前</td>
                <td>{{ username }}</td>
            </tr>
        </table>
        <table class="table">
            <thead class="table-light">
                <th scope="col">#</th>
                <th scope="col">科目名</th>
                <th scope="col">単位数</th>
                <th scope="col">区分</th>
                <th scope="col">備考</th>
            </thead>
            <tbody>
                {% for class in credits_list %}
                {% access_list user_credits forloop.counter0 as getFlag %}
                {% if getFlag == 1 %}
                <tr class="table-info">
                {% else %}
                <tr>
                {% endif %}
                    <td>{{ class.Number }}</td>
                    <td>{{ class.ClassName }}</td>
                    <td>{{ class.CreditScore }}</td>
                    <td>{{ class.CreditCondition }}</td>
                    {% if class.CompulsoryFlag == 1 %}
                        <td>必修</td>
                    {% else %}
                        <td>選択</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-10 justify-content-end align-items-center">
        <a href="{% url 'dashboard:index' %}" class="btn btn-outline-secondary btn-lg" tabindex="-1"
            role="button">ホームに戻る</a>
        <a href="{% url 'dashboard:userupdate' %}" class="btn btn-outline-secondary btn-lg" tabindex="-1"
            role="button">更新する</a>
    </div>
</div>

<div class="mt-4">  
    <div class="container">
      <p class="text-center text-secondary">© Z班</p>
    </div>
 </div>
 
{% endblock %}